:root {
    --board-size: min(var(--max-width), 100vmin);
    --cell-size: calc(var(--board-size)/3);
    --mark-size: calc(var(--cell-size) * 0.8);
    --mark-color: rgb(147, 111, 180);
    --cell-color: rgb(223, 235, 243);
}

.board-container {
    grid-area: board;
    
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);

    width: var(--board-size);
    height: var(--board-size);

    margin: 10px auto;
}


.cell {
    cursor: pointer;
    box-shadow: 2px 2px 10px black;

    background-color: var(--cell-color);
    border-radius: 5px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    transform: scale(1.02);
}

.cell.X::before,
.cell.X::after {
    position:absolute;
    
    content: '';
    background-color: var(--mark-color);
    
    width: calc(var(--mark-size)*0.15);
    height: calc(var(--mark-size)*0.9);

    border-radius: 10px;
}

.cell.X::before {
    rotate: 45deg;
}

.cell.X::after {
    rotate: -45deg;
}

.cell.O::before {
    position:absolute;
    
    content: '';
    background-color: var(--mark-color);

    width:  calc(var(--mark-size)*0.9);
    height: calc(var(--mark-size)*0.9);

    border-radius: 50%;

}

.cell.O::after {
    position:absolute;
    
    content: '';
    background-color: var(--cell-color);
    
    width:  calc(var(--mark-size)*0.6);
    height: calc(var(--mark-size)*0.6);

    border-radius: 50%;

}